{{template "layout" .}} {{define "content"}}
    <script src="https://unpkg.com/@simplewebauthn/browser"></script>
    <script type="module">
      import { createKey, signTx } from "/js/webauthn.js";
      const { platformAuthenticatorIsAvailable } = SimpleWebAuthnBrowser;

      (async () => {
        if (await platformAuthenticatorIsAvailable()) {
          console.log("webauthn avail");
          window.createKey = createKey;
          window.signTx = signTx;
        } else {
          console.log("webauthn not avail");
        }
      })();
    </script>
    <style>
      form > input {
        width: 200px;
      }
    </style>
    <div class="container">
    <h1>WebAuthn</h1>
    <button 
      _="on click call createKey() then call localStorage.setItem('pk',JSON.stringify(it, null, 2))"
    >Create Key</button><br />
    <br />
    <textarea style="width: 1000px;height: 400px;padding: 40px;" 
      _="on load get localStorage.getItem('pk') then put it into me"
    ></textarea>

    <hr />
    Msg: <input id="dh" value="GoGoPoolFTW"></input>
    <button 
      _="on click 
        set dh to #dh 
        then get JSON.parse(localStorage.getItem('pk'))
        then put it.publicKey into pk
        then call signTx(dh.value, pk) 
        then call JSON.stringify(it, null, 2)
        then put it into #sign-result"
    >Sign</button>
    <br />
    <pre id="sign-result"></pre>
    <br />
    <form hx-post="/verify" hx-target="#verify-result" hx-ext='json-enc'>
      pubKey: <input id="pubKey" name="pubKey" />
      Hash: <input id="dataHash" name="dataHash" />
      sig: <input id="sig" name="sig" />
      <button type="submit">Verify Sig</button>
    </form>
    <br />
    <div id="verify-result"></div>
    <br />
    <input style="width: 200px;" value="chrome://settings/passkeys"></input>
    </div>
  {{ end }}
